{{#d-modal-body class="challenge-details-submission-modal"}}
  <span class="like-count">
    <span class="value">{{model.likes}}</span>
    <span {{action "handleLikes"}}>{{d-icon "heart"}}</span>
  </span>
  <img src={{model.src}} alt="submission" class="submission-image" />
{{/d-modal-body}}