<div class="challenges-list">
  {{active-challenges-list}}
</div>
<div class="challenge-container">
  <div class="row">
    <h1>{{this.model.challenge.name}} </h1>
  </div>
  <Countdown @endDate={{this.model.challenge.end_date}} />
  <p>
    {{this.model.challenge.description}}
  </p>
  <div class="challenge-links">
    <p>You must be logged in to enter. Your entry must be and image previously
      posted in a topic. To enter a
      <br />
      new image, first create a topic containing that image.
      <a href="#">More Info</a>
    </p>
    <a href="#" class="enter-challenge">Enter ></a>
  </div>
</div>