<div style="display: flex; flex-direction:row; justify-content:center; ">
  {{#each challenges as |challenge| }}
    <img src={{challenge.thumbnail}} alt="image" style="height:300px; width:223px;  "/>
  {{/each}}

</div>