<div class="carousel-container">
  <div class="carousel my-carousel carousel--translate">
    <input
      class="carousel__activator"
      type="radio"
      name="carousel"
      id="F"
      checked="checked"
    />
    <input class="carousel__activator" type="radio" name="carousel" id="G" />
    <input class="carousel__activator" type="radio" name="carousel" id="H" />
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="J"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="G"
      ></label>
    </div>
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="F"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="H"
      ></label>
    </div>
    <div class="carousel__controls">
      <label
        class="carousel__control carousel__control--backward"
        for="G"
      ></label>
      <label
        class="carousel__control carousel__control--forward"
        for="I"
      ></label>
    </div>
    <div class="carousel__track">
      <li class="carousel__slide">
        <span class="carousel__title">Title</span>
      </li>
      <li class="carousel__slide">
        <span class="carousel__title">Title</span>
      </li>
      <li class="carousel__slide">
        <span class="carousel__title">Title</span>
      </li>

    </div>
    <div class="carousel__indicators">
      <label class="carousel__indicator" for="F"></label>
      <label class="carousel__indicator" for="G"></label>
      <label class="carousel__indicator" for="H"></label>
    </div>
  </div>
</div>