<div class="ending-soon">
  <div class="countdown">
    <div class="container-day">
      <h3 class="day">{{this.days}}</h3>
      <h3>Days</h3>
      <span>:</span>
    </div>
    <div class="container-hour">
      <h3 class="hour">
        {{this.hours}}
      </h3>
      <h3>Hours</h3>
      <span>:</span>
    </div>
    <div class="container-minute">
      <h3 class="minute">
        {{this.minutes}}
      </h3>
      <h3>Minutes</h3>
      <span>:</span>
    </div>
    <div class="container-second">
      <h3 class="second">
        {{this.seconds}}
      </h3>
      <h3>Seconds</h3>
    </div>
  </div>
</div>