<div class="ending-soon">
  <div class="countdown">
    <h3 class="day">{{this.day}}</h3>
    <h3>Day</h3>
    <span>:</span>
    <h3 class="hour">
      {{this.hour}}
    </h3>
    <h3>Hour</h3>
     <span>:</span>
    <h3 class="minute">
      {{this.minute}}
    </h3>
    <h3>Minute</h3>
     <span>:</span>
    <h3 class="second">
      {{this.second}}
    </h3>
    <h3>Second</h3>

  </div>
</div>