{{#each this.comments as |comment|}}
  <div class="container">
    <img
      alt=""
      width="45"
      height="45"
      src={{comment.avatar_template}}
      class="avatar"
    />
    <div>{{comment.username}}</div>
    <div>{{html-safe comment.cooked}}</div>
  </div>
{{/each}}
<div class="input-container">
  <div class="your-comment">Your Comment:</div>
  <textarea name="comment-input" id="input" cols="30" rows="10"></textarea>
  <button type="submit" style="color: black" class="comment-button">{{d-icon
      "caret-right"
    }}</button>
</div>