.active-challenges {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img.active-challenges-thumbnail {
  height: 300px;
  width: 223px;
}

.featured-topics-discovery {
  margin-bottom: 0em;
}
