// div.challenge-container {
//   background-color: #35afde;
// }
a.enter-challenge {
  padding: 16px;
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  background-color: #35afde;
  border: 3px solid #ffff;
  color: #ffff;
  font-family: adobe-clean, sans-serif;
  float: right;
  margin-right: 30px;
}

